<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO" name="MyApp" packages="">
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/hippodrome.log" filePattern="logs/hippodrome.%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d  %-5p %c{1}: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <DefaultRolloverStrategy>
                    <Delete basePath="logs" maxDepth="2">
                    <IfFileName glob="hippodrome.*.log"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
                <SizeBasedTriggeringPolicy size="4 kB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>